  <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/1321021597859053631/1321022007483301992/ver.css?ex=676bb91d&is=676a679d&hm=bb1e29a4398d34dc7ba4951ea139dd0edefaaebc30b70a65e771d775c9a11b49&">

<div class="header">
  <a href="/tasks">
    <h1 class="title">My Notes</h1>
  </a>
  <a href="/tasks" class="btn">Mis Notas</a>
</div>

<div class="contenedor-ver">

    {{#each tasks}}
    <div class="card">
    <h2 class="card-title">{{title}}</h2>

    <div class="contenedor-descripciones">
        <p class="card-description">{{description}}</p>
    </div>
    
    </div>
    {{/each}}

</div>
